= wrap_layout :layout do
  .clearfix
  section.guide
    article  
      == yield

  section
    article
      hr
      p == "Got improvements? Help improve this document via <a href= 'https://gitlab.com/danger-systems/danger.systems/edit/master/static/source/#{current_resource.path}.md'>sending MRs</a>."